<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobil_veteriner_uygulamasi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Petbull"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobil_Veteriner_uygulamasi."
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.KayitOlActivity" />
        <activity android:name=".Activities.GirisYapActivity" />
        <activity android:name=".Activities.splashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>